%section.people
  %header
    %h2 People I Follow
  %table.table
    %thead
      %tr
        %th(width="30%")
        %th(width="20%") Videos in Queue
        %th(width="20%") Followers
        %th(width="30%") Unfollow
    %tbody
      - @following.each do |user|
        %tr
          %td
            %img(src="http://www.gravatar.com/avatar/#{Digest::MD5.hexdigest('temp@gmail.com'.downcase)}?s=40")
            = link_to "#{user.full_name}", user_path(user)
          %td.extra-padding= user.queued_videos.count
          %td.extra-padding= user.followers.count
          %td.extra-padding
            = link_to "", method: :post do
              %i.icon-remove
