%section.my_queue.container
  .row
    .span10.offset1
      %article
        %header
          %h2 My Queue
        - if user_has_queue? # check to see if the user has any videos in queue
          = form_tag update_queue_path do
            %table.table
              %thead
                %tr
                  %th(width="10%") List Order
                  %th(width="30%") Video Title
                  %th(width="10%") Play
                  %th(width="20%") Rating
                  %th(width="15%") Genre
                  %th(width="15%") Remove
              %tbody
                - @queued_videos.each do |queued_video|  
                  %tr
                    = hidden_field_tag "queued_videos[][id]", queued_video.id
                    %td= text_field_tag "queued_videos[][position]", queued_video.queue_position, {:id => "box_#{queued_video.video.id}"}
                    %td
                      = link_to queued_video.video_name, video_path(queued_video.video.id)
                    %td
                      = button_to "Play", nil, class: "btn"
                    %td= select_tag "queued_videos[][rating]", options_for_video_ratings(queued_video.rating), include_blank: true #method in app helper
                    %td 
                      = link_to queued_video.genre_name, genre_path(queued_video.video.genres.first.id) # need to extract video genre to a method
                    %td
                      = link_to queued_video_path(queued_video.video.id), method: :delete do
                        %i.icon-remove
            = submit_tag "Update Instant Queue", method: :post, class: "btn"
        - else # direct them to the video page
          %h1 Your Queue is Empty!
          %h1= link_to "Add some videos!", videos_path
