%article.video_category
  %header
    %h3= link_to @comedy.name, genre_path(@comedy)
  .videos.row
    - @comedy.videos.each do |video|
      .video.span2
        = link_to image_tag("/tmp/#{video.small_cover_url}.jpg"), video_path(video)
          
%article.video_category
  %header
    %h3= link_to @drama.name, genre_path(@drama)
  .videos.row
    - @drama.videos.each do |video|
      .video.span2
        = link_to image_tag("/tmp/#{video.small_cover_url}.jpg"), video_path(video)

%article.video_category
  %header
    %h3= link_to @action.name, genre_path(@action)
  .videos.row
    - @action.videos.each do |video|
      .video.span2
        = link_to image_tag("/tmp/#{video.small_cover_url}.jpg"), video_path(video)




